#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-repeat: repeat;
  background-image: url(https://cdn.vectorstock.com/i/1000v/98/10/cute-frog-seamless-pattern-background-vector-26659810.jpg);
}

.centered {
  margin: auto;
  width: 80%;
}
